<!-- Modal -->
<div class="modal top fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content" style="border-radius: 1rem;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LOGIN</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
      <div class="modal-body row row-cols-auto g-3 align-items-center">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <div class="form-floating col-12">
          <input class="form-control" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Username">
          <label for="id_username">Username</label>
        </div>
        <div class="form-floating col-12">
          <input type="password" name="password" class="form-control" autocomplete="current-password" required id="id_password" placeholder="Password">
          <label for="id_password">Password</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input class="btn btn-outline-dark btn-md px-5" type="submit" value="Login">
      </div>
    </form>
    </div>
  </div>
</div>