<!-- Modal -->
<div class="modal top fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content" style="border-radius: 1rem;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SIGNUP</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <form method="post" action="{% url 'register' %}">
          {% csrf_token %}
          <div class="modal-body row row-cols-auto g-3 align-items-center">
            
            <div class="form-floating col-12">
              <input type="text" name="username" id="id_username" class="form-control" placeholder="Username"/>
              <label for="username">Username</label>
            </div>

            <div class="form-floating col-12">
              <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Password" />
              <label for="id_password2">Password</label>
            </div>

            <div class="form-floating col-12">
                <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Confirm Password" />
                <label for="id_password2">Confirm Password</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input class="btn btn-outline-dark btn-md px-5" type="submit" value="Signup">
          </div>
        </form>

    </div>
  </div>
</div>